{% include 'admin-layout.html' %}
<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

<!-- Begin Page Content -->
<div class="container-fluid">
  <style>
    .marker {
        border: none;
        cursor: pointer;
        height: 32px;
        width: 32px;
        background-image: url(static/markers/marker-normal.png);
        background-color: rgba(0, 0, 0, 0);
        transform: translate(28px, 56px, 0);
      }
      .marker-healthy {
        border: none;
        cursor: pointer;
        height: 32px;
        width: 32px;
        background-image: url(static/markers/marker-healthy.png);
        background-color: rgba(0, 0, 0, 0);
        transform: translate(28px, 56px, 0);
      }
      .marker-unhealthy {
        border: none;
        cursor: pointer;
        height: 32px;
        width: 32px;
        background-image: url(static/markers/marker-unhealthy.png);
        background-color: rgba(0, 0, 0, 0);
        transform: translate(28px, 56px, 0);
      }
      #map { top: 0; bottom: 0; width: 100%; }
      #menu {
       background: #efefef;
       padding: 10px;
       font-family: 'Open Sans', sans-serif;
     }

</style>
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Map</h1>
<p class="mb-4">This is the Map Page</a>.</p>

<!-- Content Row -->
<div class="row">
           
<div id='map' style='width: 800px; height: 600px;'></div>

  <div id="menu">
    <input id="satellite-streets-v11" type="radio" name="rtoggle" value="satellite" checked="checked">
    <!-- See a list of Mapbox-hosted public styles at -->
    <!-- https://docs.mapbox.com/api/maps/styles/#mapbox-styles -->
    <label for="satellite-streets-v11">satellite-streets</label>
    <input id="streets-v11" type="radio" name="rtoggle" value="streets">
    <label for="streets-v11">streets</label>
    <input id="outdoors-v11" type="radio" name="rtoggle" value="outdoors">
    <label for="outdoors-v11">outdoors</label>
  </div>


  {% block javascript %}
    <script>
    //device_data = JSON.parse({{ device_data | tojson }})
    device_data = {{ device_data | tojson }}
    mapboxgl.accessToken = 'pk.eyJ1Ijoic21hcnRpNTciLCJhIjoiY2t6NXI1N2M1MHQ4dDJ3cDFobWp3bTIycSJ9.9_SviVjdOQNyj4NPg3iXOw';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/outdoors-v11',
      center: [-82.1, 33.1], // starting position [lng, lat],
      zoom: 9
    });

    const layerList = document.getElementById('menu');
    const inputs = layerList.getElementsByTagName('input');

    for (const input of inputs) {
      input.onclick = (layer) => {
        const layerId = layer.target.id;
        map.setStyle('mapbox://styles/mapbox/' + layerId);
      };
    }

    map.on('load', function () {
      // Add this to end of function
      //var stop_locations = {{ device_data|safe }}
      var stop_locations = device_data
      stop_locations.forEach(function(marker) {
        var el = document.createElement('div');

        if (marker["Voltage"] > 6.5) {
          el.className = 'marker-healthy';
        } else if(marker["Voltage"] < 6.25){
          el.className = 'marker-unhealthy';
        } else { 
          el.className = 'marker';
        }

          el.style.left = '-15px';
          el.style.top = '-32px';

          el.addEventListener('click', () => {
              window.alert(marker["Device Name"]+", Voltage: "+marker["Voltage"]+", Last Report: "+marker["Last Reported"]);
          });

          new mapboxgl.Marker(el)
              .setLngLat([marker.lat,marker.lng])
              .addTo(map);
      });
    });

    </script>    

    
  {% endblock %}

   
        


</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; JRG, LLC. 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->



  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="static/js/sb-admin-2.min.js"></script>



</body>

</html>
